<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartUPS.Settings2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SmartUPS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsApp1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <SmartUPS.Settings2>
            <setting name="ConComPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="Powerleft" serializeAs="String">
                <value />
            </setting>
            <setting name="ActTime" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="ActTimeElapsed" serializeAs="String">
                <value>1200000</value>
            </setting>
            <setting name="LastAction" serializeAs="String">
                <value />
            </setting>
            <setting name="hibernate" serializeAs="String">
                <value>True</value>
            </setting>
        </SmartUPS.Settings2>
        <SmartUPS.My.MySettings>
            <setting name="ConComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPowerDropTime" serializeAs="String">
                <value />
            </setting>
        </SmartUPS.My.MySettings>
        <WindowsApp1.Settings1>
            <setting name="ConComP" serializeAs="String">
                <value />
            </setting>
        </WindowsApp1.Settings1>
    </userSettings>
</configuration>